body {background-image: url(back.png) ;
}
h1{font-family: monospace;
	color: #d9d9d9;
	font-size: 55px;}
h3{font-size: 28pt;
	color: green;}
img{
	border-radius:50%;
}

p
{
	color: grey;
	font-size: 50px;
	text-align: center;
}
h4{
	font-size: 30px;
}